body {
    text-align: center;
    background-color: #0a8aa6;
    font-family: Arial;
    font-size: 16px;
}

section {
    margin: 0 auto;
    width: 80%;
}

nav {
    background-color: #f3f3f3;
    border-radius: 5px;
    margin: 0.25rem 0 0.5rem;
    border: 2px solid #d9d9d9;
    padding: 0.25rem 0;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0 1.5rem;

}

main {
    border-radius: 5px;
    border: 2px solid #d9d9d9;
    background-color: #f7f7f7;
    /* background-size: 9px 9px;
    background-image: repeating-linear-gradient(45deg, #f3f3f3 0, #f3f3f3 0.9px, white 0, white 50%); */
}

footer {
    margin: 0.25rem auto 0;
    background-color: #f3f3f3;
    border: 2px solid #d9d9d9;
    border-radius: 5px;
    font-weight: bold;
}

header img {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #d9d9d9;

}

.realtor-img-holder {
    width: 30%
}

.realtor {
    width:80%;
}

.realtor-description {
    text-align: left;
    margin: 5rem;
    padding: 0 5rem 0 0;
}

.realtor-description p {
    margin: 1.5rem 0 0;
}

.realtor-description h1, .realtor-description h4 {
    margin: 5px 0;
}

.testimonals {
    margin: 0 2rem 1rem;
    border-spacing: 2rem 0rem;
}

.testimonals td {
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
    padding: 1rem 1rem;

}

.testimonals td:hover {
    background-color: #0a8aa6;
}

hr {
    margin: 1rem 0 0 0;
    border: 2px solid #d9d9d9;
}


/* Property Page */

#properties-html h1 {
    margin: 1rem 0;
}

/* images */
.property {
    width: 80%;
}

.properties-table-container {
    background-color: white;
    padding: 0.25rem 0;
}

.properties {
    margin: 0.75rem 2rem 1.5rem;
    border-collapse: collapse;
}


.properties td:nth-child(2) {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.properties td p {
    padding: 0 1rem 0.5rem;
}

.price {
    padding: 10px 0 0;
    font-weight: bold;
    font-size: 20px;
    color: #D4AF37;
}

.see-more {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 10px;
    color: black;
    background-color: #f3f3f3;
}

.see-more:hover {
    background-color: #0a8aa6;
    color: white;
}

/* Contacts Page */

form {
    width: 70%;
    display: grid;
    grid-template-columns: 400px 1fr;
    margin: 1rem 0 1rem;
}

label {
    grid-column: 1 / 2;
    margin: 10px;
    text-align: right;
}

input, button, select, textarea {
    margin: 10px;
    grid-column: 2 / 3;
}

input[type="submit"] {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 16px;
    background-color: #f3f3f3;
}

input[type="submit"]:hover {
    background-color: #0a8aa6;
    color: white;
}

/* Property Page 1 */

.property-name {
    margin: 1rem 0;
}

.property-img {
    width: 100%;
}

.property-table {
    margin: 0 0 1rem;
}

.property-table tr td {
    border: 2px solid #d9d9d9;
    border-radius: 20px;
    padding: 0.5rem;
    background-color: white;
}

.property-table p {
    margin: 0.1rem 0 0;
}

/* Site Map */

.sitemap-table {
    margin: 1rem auto;
    border-spacing: 0.5rem;
}

.sitemap-table tr td {
    border: 2px solid #d9d9d9;
    border-radius: 20px;
    padding: 1rem;
    font-weight: bold;
    background-color: #f3f3f3;
}

.sitemap-table tr td:hover {
    color: white;
    background-color: #0a8aa6;
}

.sitemap-table a {
    text-decoration: none;
    color: black;
    padding: 1rem ;
}

.property-information table {
    margin: 0 auto;
    border-spacing: 1rem 0;
}

.property-information table td {
    border: none;
    text-align: left;
}
